.header {
	display: grid;

	padding: 24px 80px;
	grid-template-columns: auto 555px 1fr auto;

	.logo {
		margin-right: 80px;

		color: var(--textWhite);
	}

	.btn {


		.text {

		}

		.count {


			span {
				color: var(--darkBrown);
			}
		}
	}

	.modal {
		.icon {
			position: unset;

			margin-bottom: 15px;
		}

		button {
			margin-top: 43px;
			padding: 17px 35px;
		}
	}
}
