input {
	width: 100%;
	padding: 15px 48px;

	color: var(--tetxGray);
	border: none;
	border-radius: 10px;
	outline: none;
	background-color: var(--brown);
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.05);

	font-size: 18px;
	line-height: 21px;

	&::-webkit-input-placeholder {
		opacity: 0.5;
		color: var(--tetxGray);
	}
}
