.btn {
	padding: 10px 20px;

	cursor: pointer;

	color: var(--textWhite);
	border: none;
	border-radius: 10px;
	background: var(--greenGradient);

	font-size: 14px;
	font-weight: 600;
	line-height: 17px;
}
