.main {
  .meatDishes {
    .title {
      margin-left: 115px;
      padding-left: 20px;
      border-left: 4px solid var(--green);
      margin-top: 50px;
    }

    .productBlock {
      padding: 20px 0;
      column-gap: 20px;
      display: grid;
      grid-template-columns: repeat(4,1fr);
      justify-items: center;
      row-gap: 20px;
    }
  }
}