.main {
  .meatDishes {
    .title {
      margin-left: 115px;
      padding-left: 20px;
      border-left: 4px solid var(--green);
      margin-top: 50px;
    }

    .productBlock {
      padding: 20px 0;
      display: flex;
      column-gap: 20px;
      overflow: hidden;
    }
  }
}