.s {
  color: var(--textWhite);

  font-size: 12px;
  line-height: 20px;
}

.m {
  color: var(--textWhite);

  font-size: 16px;
  line-height: 20px;
}

.l {
  color: var(--textWhite);

  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
}
