.s {
  color: var(--textWhite);

  font-size: 12px;
  line-height: 20px;
}

.m {
  color: var(--textWhite);

  font-size: 14px;
  line-height: 17px;
}

.l {
  color: var(--textWhite);

  font-size: 16px;
  line-height: 20px;
}
