.dots {
  display: flex;

  button {
    width: 18px;
    height: 18px;
    background: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;

    .dots {
      display: block;
      border-radius: 50%;
      background: var(--tetxGray);
      padding: 2px;
    }

    .active {
      background: var(--green);
      padding: 3px;
    }
  }
}