.card {
	position: relative;

	display: flex;
	flex-direction: column;

	width: 327px;

	transition: all ease 0.2s;

	border-radius: 10px;
	background: var(--brownGradient);

	a {
		text-decoration: none;
	}

	&:hover {
		transform: translateY(-3px);

		-webkit-box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.1);
		-moz-box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.1);
		box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.1);
	}

	img {
		width: 327px;
		height: 227px;

		cursor: pointer;

		border-radius: 10px 10px 0 0;
		object-fit: cover;
	}

		.top {
			display: flex;
			align-items: baseline;
			justify-content: space-between;
			padding: 15px 20px 0;

			span {
				color: var(--tetxGray);
			}
		}

		.desc {
			margin-top: 5px;
			max-width: 250px;
			padding: 0 20px;
			flex-grow: 1;
		}

		.bottom {
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 0 20px 20px;

			margin-top: 15px;

			span {
				font-size: 20px;
				line-height: 24px;
			}

			.btn {
				display: flex;
				align-items: center;
				column-gap: 15px;
			}

			button {
				display: flex;
				align-items: center;

				height: 44px;
			}
		}

	.count {
		position: absolute;
		top: -12px;
		right: -12px;

		padding: 14px 20px;

		color: var(--textWhite);
		border-radius: 50%;
		background: var(--green);

		font-size: 20px;
		font-weight: 700;
		line-height: 24px;
	}
}
