.card {
  margin-top: 20px;
  background: var(--brownGradient);
  border-radius: 10px;
  width: 327px;
  display: flex;
  flex-direction: column;
  position: relative;
  transition: all ease .2s;

  &:hover {
    -webkit-box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.1);
    -moz-box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.1);
    transform: translateY(-3px);
  }

  img {
    width: 327px;
    height: 227px;
    border-radius: 10px 10px 0 0;
    cursor: pointer;
  }

  .info {
    padding: 15px 20px 20px;

    .top {
      display: flex;
      align-items: baseline;
      justify-content: space-between;

      span {
        color: var(--tetxGray);
      }
    }

    .desc {
      width: 249px;
      margin-top: 5px;
    }

    .bottom {
      flex-grow: 1;
      margin-top: 15px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      span {
        font-size: 20px;
        line-height: 24px;
      }

      .btn {
        display: flex;
        align-items: center;
        column-gap: 15px;
      }

      button {
        display: flex;
        align-items: center;
        height: 44px;
      }
    }
  }

  .count {
    background: var(--green);
    color: var(--textWhite);
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    position: absolute;
    top: -12px;
    right: -12px;
    border-radius: 50%;
    padding: 14px 20px;
  }
}