.s {
	color: var(--tetxGray);

	font-size: 12px;
	line-height: 14px;
}

.m {
	color: var(--tetxGray);

	font-size: 13px;
	line-height: 17px;
}

.l {
	color: var(--tetxGray);

	font-size: 20px;
	line-height: 25px;
}
