.s {
  font-size: 12px;
  line-height: 14px;
  color: var(--tetxGray);
}

.m {
  font-size: 13px;
  line-height: 17px;
  color: var(--tetxGray);
}

.l {
  font-size: 20px;
  line-height: 25px;
  color: var(--tetxGray);
}
