.h1 {
  margin: 0;
  font-weight: bold;
  font-size: 32px;
  line-height: 39px;
  text-transform: uppercase;
  color: var(--textWhite);
}

.h2 {
  margin: 0;
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: var(--textWhite);
}

.h3 {
  margin: 0;
  font-size: 22px;
  line-height: 27px;
  color: var(--textWhite);
}