.h1 {
	margin: 0;

	text-transform: uppercase;

	color: var(--textWhite);

	font-size: 32px;
	font-weight: bold;
	line-height: 39px;
}

.h2 {
	margin: 0;

	text-transform: uppercase;

	color: var(--textWhite);

	font-size: 30px;
	font-weight: bold;
	line-height: 36px;
}

.h3 {
	margin: 0;

	color: var(--textWhite);

	font-size: 22px;
	line-height: 27px;
}
