.contacts {
	display: flex;
	align-items: center;
	gap: 10px;

	margin-left: 40px;

	.icon {
		display: flex;
		align-items: center;
		justify-content: center;

		width: 32px;
		height: 32px;

		cursor: pointer;
		transition: transform ease 0.2s;

		border-radius: 50%;
		background: var(--green);

		&:hover {
			transform: scale(1.1);
		}
	}

	.phone {
		display: flex;
		flex-direction: column;

		.title {
			color: var(--tetxGray);
		}

		.number {
			color: var(--textWhite);

			font-weight: 700;
		}
	}
}
