.footer {
  background: var(--footerGradient);
  height: 195px;
  margin-top: 80px;

  a {
    font-size: 20px;
    color: var(--tetxGray);
    text-decoration: none;
    margin-left: 40px;
    transition: color ease .2s;

    &:hover {
      color: var(--textWhite);
    }
  }
}