.wrapper {
	position: relative;

	display: flex;
	flex-direction: column;

	.sliderBlock {
		position: relative;

		display: flex;
		overflow: hidden;

		width: 1440px;
		height: 484px;

		border-radius: 10px;
		box-shadow: 0 4px 4px rgba(0, 0, 0, 0.05);

		&:hover {
			button {
				svg {
					fill: var(--green);
				}
			}
		}

		.slider {
			width: 1440px;
			height: 484px;

			transition: all ease 1s;
			text-align: center;

			img {
				width: 1440px;
				height: 484px;
				object-fit: cover;
			}
		}
	}

	.dots {
		position: unset;
		right: 270px;
		bottom: -30px;

		display: flex;
		align-items: center;
		justify-content: center;

		height: 30px;
	}
}
